# Hurricane Path EDA

Goal: clean up the data to be useful, find other forms of data to include (e.g., oceanic/atmospheric variables), and perform EDA

Here's the documentation for the data: https://www.ncei.noaa.gov/sites/g/files/anmtlf171/files/2025-09/IBTrACS_v04r01_column_documentation.pdf

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_columns = None
pd.set_option('future.no_silent_downcasting', True)

In [3]:
def load_ibtracs(path="ibtracs.ALL.list.v04r01.csv"):
    """
    Loads in the hurricane data
    """
    df = pd.read_csv(path, skiprows=[1]) ## IBTrACS has a weird two-header format
    df.columns = [c.lower() for c in df.columns] ## normalizes the df cols
    df = df.replace(' ', np.nan) ## gets rid of all of the blank values

    ## fixes the issue of columns having mixed dtypes (e.g., strs with ints)
    df['storm_dir'] = pd.to_numeric(df['storm_dir'], errors='coerce').astype('Int64')
    df['storm_speed'] = pd.to_numeric(df['storm_speed'], errors='coerce').astype('Int64')
    df['usa_wind'] = pd.to_numeric(df['usa_wind'], errors='coerce').astype('Int64')
    df['usa_lat'] = pd.to_numeric(df['usa_lat'], errors='coerce').astype('Float64')
    df['usa_lon'] = pd.to_numeric(df['usa_lon'], errors='coerce').astype('Float64')

    ## makes the observation times in datetime format
    df['iso_time'] = pd.to_datetime(df['iso_time'])
    return df

hurricane_paths = load_ibtracs("ibtracs.ALL.list.v04r01.csv").copy()

C:\Users\sardo\AppData\Local\Temp\ipykernel_18936\3210826446.py:5: DtypeWarning: Columns (19,20,23,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, skiprows=[1]) ## IBTrACS has a weird two-header format

In [4]:
hurricane_paths.dtypes.head(10)

sid                 object
season               int64
number               int64
basin               object
subbasin            object
name                object
iso_time    datetime64[ns]
nature              object
lat                float64
lon                float64
dtype: object

In [5]:
hurricane_paths['iso_time']

0        1842-10-25 03:00:00
1        1842-10-25 06:00:00
2        1842-10-25 09:00:00
3        1842-10-25 12:00:00
4        1842-10-25 15:00:00
                 ...
722035   2025-11-22 12:00:00
722036   2025-11-22 15:00:00
722037   2025-11-22 18:00:00
722038   2025-11-22 21:00:00
722039   2025-11-23 00:00:00
Name: iso_time, Length: 722040, dtype: datetime64[ns]

In [7]:
# ============================================================================
# INITIAL EXPLORATION: List all columns and explore each one
# ============================================================================

print("=" * 80)
print(f"DATASET SHAPE: {hurricane_paths.shape[0]:,} rows × {hurricane_paths.shape[1]} columns")
print("=" * 80)
print()

print("ALL COLUMNS IN THE DATASET:")
print("-" * 80)
for i, col in enumerate(hurricane_paths.columns, 1):
    print(f"{i:3d}. {col}")
print()

================================================================================
DATASET SHAPE: 722,040 rows × 174 columns
================================================================================

ALL COLUMNS IN THE DATASET:
--------------------------------------------------------------------------------
  1. sid
  2. season
  3. number
  4. basin
  5. subbasin
  6. name
  7. iso_time
  8. nature
  9. lat
 10. lon
 11. wmo_wind
 12. wmo_pres
 13. wmo_agency
 14. track_type
 15. dist2land
 16. landfall
 17. iflag
 18. usa_agency
 19. usa_atcf_id
 20. usa_lat
 21. usa_lon
 22. usa_record
 23. usa_status
 24. usa_wind
 25. usa_pres
 26. usa_sshs
 27. usa_r34_ne
 28. usa_r34_se
 29. usa_r34_sw
 30. usa_r34_nw
 31. usa_r50_ne
 32. usa_r50_se
 33. usa_r50_sw
 34. usa_r50_nw
 35. usa_r64_ne
 36. usa_r64_se
 37. usa_r64_sw
 38. usa_r64_nw
 39. usa_poci
 40. usa_roci
 41. usa_rmw
 42. usa_eye
 43. tokyo_lat
 44. tokyo_lon
 45. tokyo_grade
 46. tokyo_wind
 47. tokyo_pres
 48. tokyo_r50_dir
 49. tokyo_r50_long
 50. tokyo_r50_short
 51. tokyo_r30_dir
 52. tokyo_r30_long
 53. tokyo_r30_short
 54. tokyo_land
 55. cma_lat
 56. cma_lon
 57. cma_cat
 58. cma_wind
 59. cma_pres
 60. hko_lat
 61. hko_lon
 62. hko_cat
 63. hko_wind
 64. hko_pres
 65. kma_lat
 66. kma_lon
 67. kma_cat
 68. kma_wind
 69. kma_pres
 70. kma_r50_dir
 71. kma_r50_long
 72. kma_r50_short
 73. kma_r30_dir
 74. kma_r30_long
 75. kma_r30_short
 76. newdelhi_lat
 77. newdelhi_lon
 78. newdelhi_grade
 79. newdelhi_wind
 80. newdelhi_pres
 81. newdelhi_ci
 82. newdelhi_dp
 83. newdelhi_poci
 84. reunion_lat
 85. reunion_lon
 86. reunion_type
 87. reunion_wind
 88. reunion_pres
 89. reunion_tnum
 90. reunion_ci
 91. reunion_rmw
 92. reunion_r34_ne
 93. reunion_r34_se
 94. reunion_r34_sw
 95. reunion_r34_nw
 96. reunion_r50_ne
 97. reunion_r50_se
 98. reunion_r50_sw
 99. reunion_r50_nw
100. reunion_r64_ne
101. reunion_r64_se
102. reunion_r64_sw
103. reunion_r64_nw
104. bom_lat
105. bom_lon
106. bom_type
107. bom_wind
108. bom_pres
109. bom_tnum
110. bom_ci
111. bom_rmw
112. bom_r34_ne
113. bom_r34_se
114. bom_r34_sw
115. bom_r34_nw
116. bom_r50_ne
117. bom_r50_se
118. bom_r50_sw
119. bom_r50_nw
120. bom_r64_ne
121. bom_r64_se
122. bom_r64_sw
123. bom_r64_nw
124. bom_roci
125. bom_poci
126. bom_eye
127. bom_pos_method
128. bom_pres_method
129. nadi_lat
130. nadi_lon
131. nadi_cat
132. nadi_wind
133. nadi_pres
134. wellington_lat
135. wellington_lon
136. wellington_wind
137. wellington_pres
138. ds824_lat
139. ds824_lon
140. ds824_stage
141. ds824_wind
142. ds824_pres
143. td9636_lat
144. td9636_lon
145. td9636_stage
146. td9636_wind
147. td9636_pres
148. td9635_lat
149. td9635_lon
150. td9635_wind
151. td9635_pres
152. td9635_roci
153. neumann_lat
154. neumann_lon
155. neumann_class
156. neumann_wind
157. neumann_pres
158. mlc_lat
159. mlc_lon
160. mlc_class
161. mlc_wind
162. mlc_pres
163. usa_gust
164. bom_gust
165. bom_gust_per
166. reunion_gust
167. reunion_gust_per
168. usa_seahgt
169. usa_searad_ne
170. usa_searad_se
171. usa_searad_sw
172. usa_searad_nw
173. storm_speed
174. storm_dir

In [8]:
# ============================================================================
# EXPLORE EACH COLUMN: Show data type, unique values (if categorical), 
# and sample values (if too many unique values)
# ============================================================================

print("=" * 80)
print("COLUMN-BY-COLUMN EXPLORATION")
print("=" * 80)
print()

for col in hurricane_paths.columns:
    print(f"\n{'='*80}")
    print(f"Column: {col}")
    print(f"{'='*80}")
    print(f"Data type: {hurricane_paths[col].dtype}")
    print(f"Non-null count: {hurricane_paths[col].notna().sum():,} / {len(hurricane_paths):,}")
    print(f"Null count: {hurricane_paths[col].isnull().sum():,}")
    
    # For numeric columns, show basic stats
    if pd.api.types.is_numeric_dtype(hurricane_paths[col]):
        non_null = hurricane_paths[col].dropna()
        if len(non_null) > 0:
            print(f"Min: {non_null.min()}, Max: {non_null.max()}, Mean: {non_null.mean():.2f}")
    
    # For object/categorical columns or columns with few unique values, show unique values
    n_unique = hurricane_paths[col].nunique()
    if n_unique <= 20:
        print(f"Unique values ({n_unique}):")
        unique_vals = hurricane_paths[col].dropna().unique()
        for val in unique_vals[:20]:
            count = (hurricane_paths[col] == val).sum()
            print(f"  - {val} (appears {count:,} times)")
    else:
        # Too many unique values - show sample
        print(f"Unique values: {n_unique} (too many to list)")
        print(f"Sample values:")
        sample_vals = hurricane_paths[col].dropna().unique()[:10]
        for val in sample_vals:
            print(f"  - {val}")
    
    print()

================================================================================
COLUMN-BY-COLUMN EXPLORATION
================================================================================


================================================================================
Column: sid
================================================================================
Data type: object
Non-null count: 722,040 / 722,040
Null count: 0
Unique values: 13530 (too many to list)
Sample values:
  - 1842298N11080
  - 1845336N10074
  - 1848011S09079
  - 1848011S09080
  - 1848011S15057
  - 1848011S16057
  - 1848061S12075
  - 1848112S07084
  - 1848112S07444
  - 1851080S15062


================================================================================
Column: season
================================================================================
Data type: int64
Non-null count: 722,040 / 722,040
Null count: 0
Min: 1842, Max: 2026, Mean: 1963.67
Unique values: 179 (too many to list)
Sample values:
  - 1842
  - 1845
  - 1848
  - 1851
  - 1852
  - 1853
  - 1854
  - 1855
  - 1856
  - 1857


================================================================================
Column: number
================================================================================
Data type: int64
Non-null count: 722,040 / 722,040
Null count: 0
Min: 1, Max: 151, Mean: 47.70
Unique values: 151 (too many to list)
Sample values:
  - 1
  - 2
  - 3
  - 4
  - 5
  - 6
  - 7
  - 8
  - 9
  - 10


================================================================================
Column: basin
================================================================================
Data type: object
Non-null count: 594,993 / 722,040
Null count: 127,047
Unique values (6):
  - NI (appears 57,532 times)
  - SI (appears 162,487 times)
  - EP (appears 65,391 times)
  - WP (appears 241,388 times)
  - SP (appears 68,076 times)
  - SA (appears 119 times)


================================================================================
Column: subbasin
================================================================================
Data type: object
Non-null count: 624,521 / 722,040
Null count: 97,519
Unique values (8):
  - BB (appears 42,256 times)
  - AS (appears 15,276 times)
  - MM (appears 443,428 times)
  - GM (appears 13,828 times)
  - CS (appears 15,700 times)
  - WA (appears 50,436 times)
  - EA (appears 32,258 times)
  - CP (appears 11,339 times)


================================================================================
Column: name
================================================================================
Data type: object
Non-null count: 722,040 / 722,040
Null count: 0
Unique values: 1888 (too many to list)
Sample values:
  - UNNAMED
  - ANN
  - BETTY
  - CONNIE
  - DORIS
  - NANCY
  - OPAL
  - EDNA
  - PEGGY
  - EVA


================================================================================
Column: iso_time
================================================================================
Data type: datetime64[ns]
Non-null count: 722,040 / 722,040
Null count: 0
Unique values: 344683 (too many to list)
Sample values:
  - 1842-10-25 03:00:00
  - 1842-10-25 06:00:00
  - 1842-10-25 09:00:00
  - 1842-10-25 12:00:00
  - 1842-10-25 15:00:00
  - 1842-10-25 18:00:00
  - 1842-10-25 21:00:00
  - 1842-10-26 00:00:00
  - 1842-10-26 03:00:00
  - 1842-10-26 06:00:00


================================================================================
Column: nature
================================================================================
Data type: object
Non-null count: 722,040 / 722,040
Null count: 0
Unique values (6):
  - NR (appears 86,097 times)
  - TS (appears 547,972 times)
  - ET (appears 29,781 times)
  - MX (appears 26,393 times)
  - SS (appears 3,325 times)
  - DS (appears 28,472 times)


================================================================================
Column: lat
================================================================================
Data type: float64
Non-null count: 722,040 / 722,040
Null count: 0
Min: -68.5, Max: 83.0, Mean: 8.83
Unique values: 1300 (too many to list)
Sample values:
  - 10.9
  - 10.8
  - 11.0
  - 11.1
  - 11.2
  - 11.3
  - 11.4
  - 11.5
  - 11.6
  - 11.7


================================================================================
Column: lon
================================================================================
Data type: float64
Non-null count: 722,040 / 722,040
Null count: 0
Min: -179.8, Max: 266.9, Mean: 59.89
Unique values: 4156 (too many to list)
Sample values:
  - 80.3
  - 79.8
  - 79.4
  - 78.9
  - 78.4
  - 77.9
  - 77.4
  - 76.9
  - 76.4
  - 75.8


================================================================================
Column: wmo_wind
================================================================================
Data type: object
Non-null count: 165,751 / 722,040
Null count: 556,289
Unique values: 92 (too many to list)
Sample values:
  - 80
  - 70
  - 60
  - 50
  - 40
  - 90
  - 100
  - 110
  - 120
  - 130


================================================================================
Column: wmo_pres
================================================================================
Data type: object
Non-null count: 168,763 / 722,040
Null count: 553,277
Unique values: 146 (too many to list)
Sample values:
  - 961
  - 924
  - 938
  - 950
  - 997
  - 934
  - 969
  - 979
  - 989
  - 1000


================================================================================
Column: wmo_agency
================================================================================
Data type: object
Non-null count: 227,535 / 722,040
Null count: 494,505
Unique values (10):
  - reunion (appears 26,138 times)
  - hurdat_atl (appears 55,036 times)
  - atcf (appears 580 times)
  - bom (appears 29,422 times)
  - hurdat_epa (appears 30,716 times)
  - tokyo (appears 69,857 times)
  - cphc (appears 280 times)
  - wellington (appears 4,943 times)
  - newdelhi (appears 7,041 times)
  - nadi (appears 3,522 times)


================================================================================
Column: track_type
================================================================================
Data type: object
Non-null count: 722,040 / 722,040
Null count: 0
Unique values (6):
  - main (appears 706,104 times)
  - spur-split (appears 4,778 times)
  - spur-other (appears 1,621 times)
  - spur-merge (appears 2,871 times)
  - US-PROVISIONAL (appears 2,126 times)
  - PROVISIONAL (appears 4,540 times)


================================================================================
Column: dist2land
================================================================================
Data type: int64
Non-null count: 722,040 / 722,040
Null count: 0
Min: 0, Max: 4843, Mean: 701.68
Unique values: 3855 (too many to list)
Sample values:
  - 43
  - 0
  - 10
  - 65
  - 119
  - 171
  - 216
  - 264
  - 318
  - 362


================================================================================
Column: landfall
================================================================================
Data type: object
Non-null count: 708,510 / 722,040
Null count: 13,530
Unique values: 3819 (too many to list)
Sample values:
  - 0
  - 10
  - 65
  - 119
  - 171
  - 216
  - 264
  - 318
  - 362
  - 406


================================================================================
Column: iflag
================================================================================
Data type: object
Non-null count: 722,040 / 722,040
Null count: 0
Unique values: 895 (too many to list)
Sample values:
  - ___________O___
  - ___________P___
  - ______O________
  - ______P________
  - ______O____O___
  - ______P____P___
  - ______P____O___
  - ______________O
  - ______________P
  - O_____________O


================================================================================
Column: usa_agency
================================================================================
Data type: object
Non-null count: 231,179 / 722,040
Null count: 490,861
Unique values (12):
  - hurdat_atl (appears 55,230 times)
  - jtwc_sh (appears 60,851 times)
  - jtwc_wp (appears 65,740 times)
  - jtwc_io (appears 13,375 times)
  - hurdat_epa (appears 31,356 times)
  - jtwc_cp (appears 195 times)
  - jtwc_ep (appears 859 times)
  - atcf (appears 412 times)
  - cphc (appears 153 times)
  - tcvitals (appears 1,883 times)
  - tcvightals (appears 40 times)
  - nhc_working_bt (appears 1,085 times)


================================================================================
Column: usa_atcf_id
================================================================================
Data type: object
Non-null count: 466,641 / 722,040
Null count: 255,399
Unique values: 8572 (too many to list)
Sample values:
  - AL011851
  - AL021851
  - AL031851
  - AL041851
  - AL051851
  - AL061851
  - AL011852
  - AL031852
  - AL021852
  - AL041852


================================================================================
Column: usa_lat
================================================================================
Data type: Float64
Non-null count: 462,831 / 722,040
Null count: 259,209
Min: -50.1, Max: 83.0, Mean: 10.22
Unique values: 1188 (too many to list)
Sample values:
  - 28.0
  - 28.1
  - 28.2
  - 28.3
  - 28.4
  - 28.5
  - 28.6
  - 28.8
  - 29.0
  - 29.2


================================================================================
Column: usa_lon
================================================================================
Data type: Float64
Non-null count: 462,831 / 722,040
Null count: 259,209
Min: -180.0, Max: 180.0, Mean: 34.91
Unique values: 3386 (too many to list)
Sample values:
  - -94.8
  - -95.1
  - -95.4
  - -95.7
  - -96.0
  - -96.2
  - -96.5
  - -96.8
  - -97.0
  - -97.3


================================================================================
Column: usa_record
================================================================================
Data type: object
Non-null count: 1,393 / 722,040
Null count: 720,647
Unique values (9):
  - L (appears 1,299 times)
  - R (appears 11 times)
  - I (appears 39 times)
  - P (appears 10 times)
  - T (appears 13 times)
  - W (appears 4 times)
  - C (appears 5 times)
  - S (appears 11 times)
  - G (appears 1 times)


================================================================================
Column: usa_status
================================================================================
Data type: object
Non-null count: 259,624 / 722,040
Null count: 462,416
Unique values (17):
  - HU (appears 45,786 times)
  - TS (appears 92,537 times)
  - EX (appears 13,368 times)
  - TD (appears 57,053 times)
  - LO (appears 10,007 times)
  - TY (appears 18,573 times)
  - ST (appears 1,768 times)
  - DB (appears 11,992 times)
  - XX (appears 4,426 times)
  - SS (appears 2,022 times)
  - SD (appears 1,062 times)
  - WV (appears 501 times)
  - HR (appears 12 times)
  - ET (appears 4 times)
  - TC (appears 256 times)
  - MD (appears 251 times)
  - PT (appears 6 times)


================================================================================
Column: usa_wind
================================================================================
Data type: Int64
Non-null count: 399,785 / 722,040
Null count: 322,255
Min: 5, Max: 185, Mean: 50.19
Unique values: 160 (too many to list)
Sample values:
  - 80
  - 70
  - 65
  - 60
  - 55
  - 50
  - 45
  - 40
  - 75
  - 85


================================================================================
Column: usa_pres
================================================================================
Data type: object
Non-null count: 164,189 / 722,040
Null count: 557,851
Unique values: 146 (too many to list)
Sample values:
  - 961
  - 924
  - 938
  - 950
  - 997
  - 934
  - 969
  - 979
  - 989
  - 1000


================================================================================
Column: usa_sshs
================================================================================
Data type: int64
Non-null count: 722,040 / 722,040
Null count: 0
Min: -5, Max: 5, Mean: -2.27
Unique values (11):
  - -5 (appears 321,697 times)
  - 1 (appears 49,098 times)
  - 0 (appears 143,650 times)
  - 2 (appears 24,843 times)
  - 3 (appears 15,714 times)
  - 4 (appears 12,909 times)
  - -4 (appears 13,378 times)
  - -1 (appears 112,092 times)
  - 5 (appears 2,824 times)
  - -3 (appears 22,751 times)
  - -2 (appears 3,084 times)


================================================================================
Column: usa_r34_ne
================================================================================
Data type: object
Non-null count: 73,249 / 722,040
Null count: 648,791
Unique values: 256 (too many to list)
Sample values:
  - 30
  - 25
  - 120
  - 90
  - 70
  - 50
  - 40
  - 175
  - 87
  - 110


================================================================================
Column: usa_r34_se
================================================================================
Data type: object
Non-null count: 73,232 / 722,040
Null count: 648,808
Unique values: 246 (too many to list)
Sample values:
  - 30
  - 120
  - 80
  - 65
  - 50
  - 175
  - 87
  - 0
  - 60
  - 55


================================================================================
Column: usa_r34_sw
================================================================================
Data type: object
Non-null count: 73,190 / 722,040
Null count: 648,850
Unique values: 240 (too many to list)
Sample values:
  - 30
  - 35
  - 120
  - 80
  - 85
  - 90
  - 0
  - 60
  - 55
  - 50


================================================================================
Column: usa_r34_nw
================================================================================
Data type: object
Non-null count: 73,226 / 722,040
Null count: 648,814
Unique values: 239 (too many to list)
Sample values:
  - 30
  - 40
  - 120
  - 90
  - 15
  - 110
  - 100
  - 88
  - 75
  - 80


================================================================================
Column: usa_r50_ne
================================================================================
Data type: object
Non-null count: 37,733 / 722,040
Null count: 684,307
Unique values: 207 (too many to list)
Sample values:
  - 10
  - 20
  - 30
  - 40
  - 28
  - 15
  - 25
  - 50
  - 33
  - 35


================================================================================
Column: usa_r50_se
================================================================================
Data type: object
Non-null count: 37,695 / 722,040
Null count: 684,345
Unique values: 199 (too many to list)
Sample values:
  - 10
  - 20
  - 30
  - 40
  - 28
  - 15
  - 25
  - 50
  - 33
  - 35


================================================================================
Column: usa_r50_sw
================================================================================
Data type: object
Non-null count: 37,593 / 722,040
Null count: 684,447
Unique values: 189 (too many to list)
Sample values:
  - 10
  - 20
  - 30
  - 40
  - 28
  - 15
  - 25
  - 50
  - 33
  - 35


================================================================================
Column: usa_r50_nw
================================================================================
Data type: object
Non-null count: 37,677 / 722,040
Null count: 684,363
Unique values: 216 (too many to list)
Sample values:
  - 10
  - 20
  - 30
  - 40
  - 28
  - 15
  - 25
  - 50
  - 33
  - 35


================================================================================
Column: usa_r64_ne
================================================================================
Data type: object
Non-null count: 23,402 / 722,040
Null count: 698,638
Unique values: 117 (too many to list)
Sample values:
  - 10
  - 13
  - 15
  - 20
  - 25
  - 18
  - 23
  - 28
  - 30
  - 33


================================================================================
Column: usa_r64_se
================================================================================
Data type: object
Non-null count: 23,363 / 722,040
Null count: 698,677
Unique values: 118 (too many to list)
Sample values:
  - 10
  - 13
  - 15
  - 20
  - 25
  - 23
  - 18
  - 28
  - 30
  - 35


================================================================================
Column: usa_r64_sw
================================================================================
Data type: object
Non-null count: 23,313 / 722,040
Null count: 698,727
Unique values: 104 (too many to list)
Sample values:
  - 10
  - 13
  - 15
  - 20
  - 25
  - 23
  - 30
  - 18
  - 28
  - 35


================================================================================
Column: usa_r64_nw
================================================================================
Data type: object
Non-null count: 23,365 / 722,040
Null count: 698,675
Unique values: 122 (too many to list)
Sample values:
  - 10
  - 13
  - 15
  - 20
  - 25
  - 28
  - 30
  - 18
  - 23
  - 33


================================================================================
Column: usa_poci
================================================================================
Data type: object
Non-null count: 111,366 / 722,040
Null count: 610,674
Unique values: 66 (too many to list)
Sample values:
  - 1007
  - 1005
  - 1008
  - 1010
  - 1012
  - 1009
  - 1011
  - 1002
  - 1015
  - 1006


================================================================================
Column: usa_roci
================================================================================
Data type: object
Non-null count: 110,935 / 722,040
Null count: 611,105
Unique values: 321 (too many to list)
Sample values:
  - 180
  - 60
  - 175
  - 120
  - 110
  - 100
  - 90
  - 80
  - 163
  - 150


================================================================================
Column: usa_rmw
================================================================================
Data type: object
Non-null count: 111,011 / 722,040
Null count: 611,029
Unique values: 142 (too many to list)
Sample values:
  - 10
  - 40
  - 45
  - 5
  - 30
  - 25
  - 15
  - 20
  - 35
  - 50


================================================================================
Column: usa_eye
================================================================================
Data type: object
Non-null count: 4,055 / 722,040
Null count: 717,985
Unique values (19):
  - 30 (appears 339 times)
  - 5 (appears 234 times)
  - 10 (appears 1,066 times)
  - 15 (appears 884 times)
  - 20 (appears 742 times)
  - 40 (appears 120 times)
  - 25 (appears 386 times)
  - 45 (appears 73 times)
  - 60 (appears 18 times)
  - 35 (appears 118 times)
  - 50 (appears 36 times)
  - 80 (appears 7 times)
  - 65 (appears 3 times)
  - 55 (appears 18 times)
  - 75 (appears 2 times)
  - 70 (appears 5 times)
  - 100 (appears 1 times)
  - 85 (appears 1 times)
  - 90 (appears 2 times)


================================================================================
Column: tokyo_lat
================================================================================
Data type: object
Non-null count: 133,285 / 722,040
Null count: 588,755
Unique values: 613 (too many to list)
Sample values:
  - 20.0
  - 19.7
  - 21.4
  - 23.0
  - 24.0
  - 25.0
  - 26.4
  - 27.6
  - 28.3
  - 28.9


================================================================================
Column: tokyo_lon
================================================================================
Data type: object
Non-null count: 133,285 / 722,040
Null count: 588,755
Unique values: 911 (too many to list)
Sample values:
  - 138.5
  - 138.2
  - 140.0
  - 142.1
  - 144.0
  - 146.0
  - 148.4
  - 150.6
  - 152.0
  - 153.3


================================================================================
Column: tokyo_grade
================================================================================
Data type: object
Non-null count: 133,285 / 722,040

In [9]:
# ============================================================================
# SAMPLE DATA - First few rows to understand structure
# ============================================================================
print("=" * 80)
print("FIRST 5 ROWS OF DATA")
print("=" * 80)
hurricane_paths.head()

================================================================================
FIRST 5 ROWS OF DATA
================================================================================

,sid,season,number,basin,subbasin,name,iso_time,nature,lat,lon,wmo_wind,wmo_pres,wmo_agency,track_type,dist2land,landfall,iflag,usa_agency,usa_atcf_id,usa_lat,usa_lon,usa_record,usa_status,usa_wind,usa_pres,usa_sshs,usa_r34_ne,usa_r34_se,usa_r34_sw,usa_r34_nw,usa_r50_ne,usa_r50_se,usa_r50_sw,usa_r50_nw,usa_r64_ne,usa_r64_se,usa_r64_sw,usa_r64_nw,usa_poci,usa_roci,usa_rmw,usa_eye,tokyo_lat,tokyo_lon,tokyo_grade,tokyo_wind,tokyo_pres,tokyo_r50_dir,tokyo_r50_long,tokyo_r50_short,tokyo_r30_dir,tokyo_r30_long,tokyo_r30_short,tokyo_land,cma_lat,cma_lon,cma_cat,cma_wind,cma_pres,hko_lat,hko_lon,hko_cat,hko_wind,hko_pres,kma_lat,kma_lon,kma_cat,kma_wind,kma_pres,kma_r50_dir,kma_r50_long,kma_r50_short,kma_r30_dir,kma_r30_long,kma_r30_short,newdelhi_lat,newdelhi_lon,newdelhi_grade,newdelhi_wind,newdelhi_pres,newdelhi_ci,newdelhi_dp,newdelhi_poci,reunion_lat,reunion_lon,reunion_type,reunion_wind,reunion_pres,reunion_tnum,reunion_ci,reunion_rmw,reunion_r34_ne,reunion_r34_se,reunion_r34_sw,reunion_r34_nw,reunion_r50_ne,reunion_r50_se,reunion_r50_sw,reunion_r50_nw,reunion_r64_ne,reunion_r64_se,reunion_r64_sw,reunion_r64_nw,bom_lat,bom_lon,bom_type,bom_wind,bom_pres,bom_tnum,bom_ci,bom_rmw,bom_r34_ne,bom_r34_se,bom_r34_sw,bom_r34_nw,bom_r50_ne,bom_r50_se,bom_r50_sw,bom_r50_nw,bom_r64_ne,bom_r64_se,bom_r64_sw,bom_r64_nw,bom_roci,bom_poci,bom_eye,bom_pos_method,bom_pres_method,nadi_lat,nadi_lon,nadi_cat,nadi_wind,nadi_pres,wellington_lat,wellington_lon,wellington_wind,wellington_pres,ds824_lat,ds824_lon,ds824_stage,ds824_wind,ds824_pres,td9636_lat,td9636_lon,td9636_stage,td9636_wind,td9636_pres,td9635_lat,td9635_lon,td9635_wind,td9635_pres,td9635_roci,neumann_lat,neumann_lon,neumann_class,neumann_wind,neumann_pres,mlc_lat,mlc_lon,mlc_class,mlc_wind,mlc_pres,usa_gust,bom_gust,bom_gust_per,reunion_gust,reunion_gust_per,usa_seahgt,usa_searad_ne,usa_searad_se,usa_searad_sw,usa_searad_nw,storm_speed,storm_dir
0,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 03:00:00,NR,10.9,80.3,NaN,NaN,NaN,main,43,0,___________O___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9,80.3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
1,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 06:00:00,NR,10.9,79.8,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9,79.8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
2,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 09:00:00,NR,10.8,79.4,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,79.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
3,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 12:00:00,NR,10.8,78.9,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,78.9,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
4,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 15:00:00,NR,10.8,78.4,NaN,NaN,NaN,main,0,0,___________O___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,78.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,270

In [6]:
# Quick summary: Let's also see a sample of a single storm track
# to understand how the data is structured temporally

print("=" * 80)
print("EXAMPLE: Single storm track (first storm)")
print("=" * 80)
first_sid = hurricane_paths['sid'].iloc[0]
first_storm = hurricane_paths[hurricane_paths['sid'] == first_sid].sort_values('iso_time')
print(f"Storm SID: {first_sid}")
print(f"Number of observations: {len(first_storm)}")
print(f"\nFirst few observations:")
first_storm.head(10)

================================================================================
EXAMPLE: Single storm track (first storm)
================================================================================
Storm SID: 1842298N11080
Number of observations: 65

First few observations:

,sid,season,number,basin,subbasin,name,iso_time,nature,lat,lon,wmo_wind,wmo_pres,wmo_agency,track_type,dist2land,landfall,iflag,usa_agency,usa_atcf_id,usa_lat,usa_lon,usa_record,usa_status,usa_wind,usa_pres,usa_sshs,usa_r34_ne,usa_r34_se,usa_r34_sw,usa_r34_nw,usa_r50_ne,usa_r50_se,usa_r50_sw,usa_r50_nw,usa_r64_ne,usa_r64_se,usa_r64_sw,usa_r64_nw,usa_poci,usa_roci,usa_rmw,usa_eye,tokyo_lat,tokyo_lon,tokyo_grade,tokyo_wind,tokyo_pres,tokyo_r50_dir,tokyo_r50_long,tokyo_r50_short,tokyo_r30_dir,tokyo_r30_long,tokyo_r30_short,tokyo_land,cma_lat,cma_lon,cma_cat,cma_wind,cma_pres,hko_lat,hko_lon,hko_cat,hko_wind,hko_pres,kma_lat,kma_lon,kma_cat,kma_wind,kma_pres,kma_r50_dir,kma_r50_long,kma_r50_short,kma_r30_dir,kma_r30_long,kma_r30_short,newdelhi_lat,newdelhi_lon,newdelhi_grade,newdelhi_wind,newdelhi_pres,newdelhi_ci,newdelhi_dp,newdelhi_poci,reunion_lat,reunion_lon,reunion_type,reunion_wind,reunion_pres,reunion_tnum,reunion_ci,reunion_rmw,reunion_r34_ne,reunion_r34_se,reunion_r34_sw,reunion_r34_nw,reunion_r50_ne,reunion_r50_se,reunion_r50_sw,reunion_r50_nw,reunion_r64_ne,reunion_r64_se,reunion_r64_sw,reunion_r64_nw,bom_lat,bom_lon,bom_type,bom_wind,bom_pres,bom_tnum,bom_ci,bom_rmw,bom_r34_ne,bom_r34_se,bom_r34_sw,bom_r34_nw,bom_r50_ne,bom_r50_se,bom_r50_sw,bom_r50_nw,bom_r64_ne,bom_r64_se,bom_r64_sw,bom_r64_nw,bom_roci,bom_poci,bom_eye,bom_pos_method,bom_pres_method,nadi_lat,nadi_lon,nadi_cat,nadi_wind,nadi_pres,wellington_lat,wellington_lon,wellington_wind,wellington_pres,ds824_lat,ds824_lon,ds824_stage,ds824_wind,ds824_pres,td9636_lat,td9636_lon,td9636_stage,td9636_wind,td9636_pres,td9635_lat,td9635_lon,td9635_wind,td9635_pres,td9635_roci,neumann_lat,neumann_lon,neumann_class,neumann_wind,neumann_pres,mlc_lat,mlc_lon,mlc_class,mlc_wind,mlc_pres,usa_gust,bom_gust,bom_gust_per,reunion_gust,reunion_gust_per,usa_seahgt,usa_searad_ne,usa_searad_se,usa_searad_sw,usa_searad_nw,storm_speed,storm_dir
0,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 03:00:00,NR,10.9,80.3,NaN,NaN,NaN,main,43,0,___________O___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9,80.3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
1,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 06:00:00,NR,10.9,79.8,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.9,79.8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
2,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 09:00:00,NR,10.8,79.4,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,79.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
3,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 12:00:00,NR,10.8,78.9,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,78.9,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,265
4,1842298N11080,1842,1,NI,BB,UNNAMED,1842-10-25 15:00:00,NR,10.8,78.4,NaN,NaN,NaN,main,0,0,___________O___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,78.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,270
5,1842298N11080,1842,1,NI,AS,UNNAMED,1842-10-25 18:00:00,NR,10.8,77.9,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,77.9,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,270
6,1842298N11080,1842,1,NI,AS,UNNAMED,1842-10-25 21:00:00,NR,10.8,77.4,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,77.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,270
7,1842298N11080,1842,1,NI,AS,UNNAMED,1842-10-26 00:00:00,NR,10.8,76.9,NaN,NaN,NaN,main,0,0,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,76.9,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,270
8,1842298N11080,1842,1,NI,AS,UNNAMED,1842-10-26 03:00:00,NR,10.8,76.4,NaN,NaN,NaN,main,0,0,___________O___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,76.4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,270
9,1842298N11080,1842,1,NI,AS,UNNAMED,1842-10-26 06:00:00,NR,10.8,75.8,NaN,NaN,NaN,main,10,10,___________P___,NaN,NaN,<NA>,<NA>,NaN,NaN,<NA>,NaN,-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.8,75.8,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,270

In [10]:
# ============================================================================
# CREATE STRUCTURED JSON SUMMARY OF DATASET METADATA
# ============================================================================

import json

def create_dataset_summary(df):
    """Create a structured summary of the dataset for analysis"""
    
    summary = {
        "dataset_info": {
            "shape": {"rows": len(df), "columns": len(df.columns)},
            "date_range": {
                "min": str(df['iso_time'].min()),
                "max": str(df['iso_time'].max())
            },
            "unique_storms": int(df['sid'].nunique())
        },
        "columns": {},
        "position_columns": [],
        "velocity_columns": [],
        "wind_columns": [],
        "pressure_columns": [],
        "data_sources": {}
    }
    
    # Analyze each column
    for col in df.columns:
        col_info = {
            "dtype": str(df[col].dtype),
            "non_null_count": int(df[col].notna().sum()),
            "null_count": int(df[col].isnull().sum()),
            "null_percentage": float((df[col].isnull().sum() / len(df)) * 100),
            "n_unique": int(df[col].nunique())
        }
        
        # Add numeric stats
        if pd.api.types.is_numeric_dtype(df[col]):
            non_null = df[col].dropna()
            if len(non_null) > 0:
                col_info["numeric_stats"] = {
                    "min": float(non_null.min()),
                    "max": float(non_null.max()),
                    "mean": float(non_null.mean()),
                    "median": float(non_null.median())
                }
        
        # Add unique values for categorical (limit to 50)
        if col_info["n_unique"] <= 50:
            unique_vals = df[col].dropna().unique()[:50]
            col_info["unique_values"] = [
                {"value": str(val), "count": int((df[col] == val).sum())}
                for val in unique_vals
            ]
        
        summary["columns"][col] = col_info
        
        # Categorize columns
        col_lower = col.lower()
        if 'lat' in col_lower or 'lon' in col_lower:
            summary["position_columns"].append(col)
        if any(term in col_lower for term in ['speed', 'dir', 'velo', 'heading']):
            summary["velocity_columns"].append(col)
        if 'wind' in col_lower:
            summary["wind_columns"].append(col)
        if 'pres' in col_lower or 'pressure' in col_lower:
            summary["pressure_columns"].append(col)
    
    # Identify data sources by prefix
    source_prefixes = {}
    for col in df.columns:
        if '_' in col:
            prefix = col.split('_')[0].lower()
            if prefix not in source_prefixes:
                source_prefixes[prefix] = {"columns": []}
            source_prefixes[prefix]["columns"].append(col)
    
    # Analyze each data source
    for prefix, info in source_prefixes.items():
        lat_col = f'{prefix}_lat'
        lon_col = f'{prefix}_lon'
        wind_col = f'{prefix}_wind' if f'{prefix}_wind' in df.columns else None
        
        source_info = {
            "n_columns": len(info["columns"]),
            "columns": info["columns"]
        }
        
        if lat_col in df.columns and lon_col in df.columns:
            lat_complete = df[lat_col].notna().sum()
            lon_complete = df[lon_col].notna().sum()
            source_info["position_coverage"] = {
                "lat_complete": int(lat_complete),
                "lon_complete": int(lon_complete),
                "both_complete": int(df[(df[lat_col].notna()) & (df[lon_col].notna())].shape[0])
            }
        
        if wind_col and wind_col in df.columns:
            source_info["wind_coverage"] = {
                "wind_complete": int(df[wind_col].notna().sum())
            }
        
        summary["data_sources"][prefix] = source_info
    
    return summary

# Generate and save summary
dataset_summary = create_dataset_summary(hurricane_paths)

# Save to JSON file
with open('dataset_summary.json', 'w') as f:
    json.dump(dataset_summary, f, indent=2, default=str)

print("=" * 80)
print("DATASET SUMMARY CREATED")
print("=" * 80)
print(f"\nSaved to: dataset_summary.json")
print(f"\nKey findings:")
print(f"  - Position columns: {len(dataset_summary['position_columns'])}")
print(f"  - Velocity columns: {len(dataset_summary['velocity_columns'])}")
print(f"  - Wind columns: {len(dataset_summary['wind_columns'])}")
print(f"  - Pressure columns: {len(dataset_summary['pressure_columns'])}")
print(f"  - Data sources: {len(dataset_summary['data_sources'])}")
print(f"\nVelocity columns found: {dataset_summary['velocity_columns']}")
print(f"\nPosition columns found (first 10): {dataset_summary['position_columns'][:10]}")
print()

# Display summary in notebook
dataset_summary

================================================================================
DATASET SUMMARY CREATED
================================================================================

Saved to: dataset_summary.json

Key findings:
  - Position columns: 36
  - Velocity columns: 6
  - Wind columns: 16
  - Pressure columns: 17
  - Data sources: 19

Velocity columns found: ['tokyo_r50_dir', 'tokyo_r30_dir', 'kma_r50_dir', 'kma_r30_dir', 'storm_speed', 'storm_dir']

Position columns found (first 10): ['lat', 'lon', 'usa_lat', 'usa_lon', 'tokyo_lat', 'tokyo_lon', 'tokyo_r50_long', 'tokyo_r30_long', 'cma_lat', 'cma_lon']

{'dataset_info': {'shape': {'rows': 722040, 'columns': 174},
  'date_range': {'min': '1842-10-25 03:00:00', 'max': '2025-11-23 00:00:00'},
  'unique_storms': 13530},
 'columns': {'sid': {'dtype': 'object',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 13530},
  'season': {'dtype': 'int64',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 179,
   'numeric_stats': {'min': 1842.0,
    'max': 2026.0,
    'mean': 1963.6726137056119,
    'median': 1972.0}},
  'number': {'dtype': 'int64',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 151,
   'numeric_stats': {'min': 1.0,
    'max': 151.0,
    'mean': 47.703443022547226,
    'median': 43.0}},
  'basin': {'dtype': 'object',
   'non_null_count': 594993,
   'null_count': 127047,
   'null_percentage': 17.59556257271065,
   'n_unique': 6,
   'unique_values': [{'value': 'NI', 'count': 57532},
    {'value': 'SI', 'count': 162487},
    {'value': 'EP', 'count': 65391},
    {'value': 'WP', 'count': 241388},
    {'value': 'SP', 'count': 68076},
    {'value': 'SA', 'count': 119}]},
  'subbasin': {'dtype': 'object',
   'non_null_count': 624521,
   'null_count': 97519,
   'null_percentage': 13.506038446623455,
   'n_unique': 8,
   'unique_values': [{'value': 'BB', 'count': 42256},
    {'value': 'AS', 'count': 15276},
    {'value': 'MM', 'count': 443428},
    {'value': 'GM', 'count': 13828},
    {'value': 'CS', 'count': 15700},
    {'value': 'WA', 'count': 50436},
    {'value': 'EA', 'count': 32258},
    {'value': 'CP', 'count': 11339}]},
  'name': {'dtype': 'object',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 1888},
  'iso_time': {'dtype': 'datetime64[ns]',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 344683},
  'nature': {'dtype': 'object',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 6,
   'unique_values': [{'value': 'NR', 'count': 86097},
    {'value': 'TS', 'count': 547972},
    {'value': 'ET', 'count': 29781},
    {'value': 'MX', 'count': 26393},
    {'value': 'SS', 'count': 3325},
    {'value': 'DS', 'count': 28472}]},
  'lat': {'dtype': 'float64',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 1300,
   'numeric_stats': {'min': -68.5,
    'max': 83.0,
    'mean': 8.83311049249349,
    'median': 15.1}},
  'lon': {'dtype': 'float64',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 4156,
   'numeric_stats': {'min': -179.8,
    'max': 266.9,
    'mean': 59.89173854634093,
    'median': 90.5}},
  'wmo_wind': {'dtype': 'object',
   'non_null_count': 165751,
   'null_count': 556289,
   'null_percentage': 77.04406958063265,
   'n_unique': 92},
  'wmo_pres': {'dtype': 'object',
   'non_null_count': 168763,
   'null_count': 553277,
   'null_percentage': 76.62691817627832,
   'n_unique': 146},
  'wmo_agency': {'dtype': 'object',
   'non_null_count': 227535,
   'null_count': 494505,
   'null_percentage': 68.48720292504571,
   'n_unique': 10,
   'unique_values': [{'value': 'reunion', 'count': 26138},
    {'value': 'hurdat_atl', 'count': 55036},
    {'value': 'atcf', 'count': 580},
    {'value': 'bom', 'count': 29422},
    {'value': 'hurdat_epa', 'count': 30716},
    {'value': 'tokyo', 'count': 69857},
    {'value': 'cphc', 'count': 280},
    {'value': 'wellington', 'count': 4943},
    {'value': 'newdelhi', 'count': 7041},
    {'value': 'nadi', 'count': 3522}]},
  'track_type': {'dtype': 'object',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 6,
   'unique_values': [{'value': 'main', 'count': 706104},
    {'value': 'spur-split', 'count': 4778},
    {'value': 'spur-other', 'count': 1621},
    {'value': 'spur-merge', 'count': 2871},
    {'value': 'US-PROVISIONAL', 'count': 2126},
    {'value': 'PROVISIONAL', 'count': 4540}]},
  'dist2land': {'dtype': 'int64',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 3855,
   'numeric_stats': {'min': 0.0,
    'max': 4843.0,
    'mean': 701.6846822890699,
    'median': 482.0}},
  'landfall': {'dtype': 'object',
   'non_null_count': 708510,
   'null_count': 13530,
   'null_percentage': 1.8738574040219378,
   'n_unique': 3819},
  'iflag': {'dtype': 'object',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 895},
  'usa_agency': {'dtype': 'object',
   'non_null_count': 231179,
   'null_count': 490861,
   'null_percentage': 67.9825217439477,
   'n_unique': 12,
   'unique_values': [{'value': 'hurdat_atl', 'count': 55230},
    {'value': 'jtwc_sh', 'count': 60851},
    {'value': 'jtwc_wp', 'count': 65740},
    {'value': 'jtwc_io', 'count': 13375},
    {'value': 'hurdat_epa', 'count': 31356},
    {'value': 'jtwc_cp', 'count': 195},
    {'value': 'jtwc_ep', 'count': 859},
    {'value': 'atcf', 'count': 412},
    {'value': 'cphc', 'count': 153},
    {'value': 'tcvitals', 'count': 1883},
    {'value': 'tcvightals', 'count': 40},
    {'value': 'nhc_working_bt', 'count': 1085}]},
  'usa_atcf_id': {'dtype': 'object',
   'non_null_count': 466641,
   'null_count': 255399,
   'null_percentage': 35.37186305467841,
   'n_unique': 8572},
  'usa_lat': {'dtype': 'Float64',
   'non_null_count': 462831,
   'null_count': 259209,
   'null_percentage': 35.89953465181984,
   'n_unique': 1188,
   'numeric_stats': {'min': -50.1,
    'max': 83.0,
    'mean': 10.220086813545333,
    'median': 15.5}},
  'usa_lon': {'dtype': 'Float64',
   'non_null_count': 462831,
   'null_count': 259209,
   'null_percentage': 35.89953465181984,
   'n_unique': 3386,
   'numeric_stats': {'min': -180.0,
    'max': 180.0,
    'mean': 34.9115858704365,
    'median': 75.7}},
  'usa_record': {'dtype': 'object',
   'non_null_count': 1393,
   'null_count': 720647,
   'null_percentage': 99.80707440031024,
   'n_unique': 9,
   'unique_values': [{'value': 'L', 'count': 1299},
    {'value': 'R', 'count': 11},
    {'value': 'I', 'count': 39},
    {'value': 'P', 'count': 10},
    {'value': 'T', 'count': 13},
    {'value': 'W', 'count': 4},
    {'value': 'C', 'count': 5},
    {'value': 'S', 'count': 11},
    {'value': 'G', 'count': 1}]},
  'usa_status': {'dtype': 'object',
   'non_null_count': 259624,
   'null_count': 462416,
   'null_percentage': 64.04298930807157,
   'n_unique': 17,
   'unique_values': [{'value': 'HU', 'count': 45786},
    {'value': 'TS', 'count': 92537},
    {'value': 'EX', 'count': 13368},
    {'value': 'TD', 'count': 57053},
    {'value': 'LO', 'count': 10007},
    {'value': 'TY', 'count': 18573},
    {'value': 'ST', 'count': 1768},
    {'value': 'DB', 'count': 11992},
    {'value': 'XX', 'count': 4426},
    {'value': 'SS', 'count': 2022},
    {'value': 'SD', 'count': 1062},
    {'value': 'WV', 'count': 501},
    {'value': 'HR', 'count': 12},
    {'value': 'ET', 'count': 4},
    {'value': 'TC', 'count': 256},
    {'value': 'MD', 'count': 251},
    {'value': 'PT', 'count': 6}]},
  'usa_wind': {'dtype': 'Int64',
   'non_null_count': 399785,
   'null_count': 322255,
   'null_percentage': 44.63118386792975,
   'n_unique': 160,
   'numeric_stats': {'min': 5.0,
    'max': 185.0,
    'mean': 50.18587490776292,
    'median': 43.0}},
  'usa_pres': {'dtype': 'object',
   'non_null_count': 164189,
   'null_count': 557851,
   'null_percentage': 77.26040108581242,
   'n_unique': 146},
  'usa_sshs': {'dtype': 'int64',
   'non_null_count': 722040,
   'null_count': 0,
   'null_percentage': 0.0,
   'n_unique': 11,
   'numeric_stats': {'min': -5.0,
    'max': 5.0,
    'mean': -2.266949199490333,
    'median': -1.0},
   'unique_values': [{'value': '-5', 'count': 321697},
    {'value': '1', 'count': 49098},
    {'value': '0', 'count': 143650},
    {'value': '2', 'count': 24843},
    {'value': '3', 'count': 15714},
    {'value': '4', 'count': 12909},
    {'value': '-4', 'count': 13378},
    {'value': '-1', 'count': 112092},
    {'value': '5', 'count': 2824},
    {'value': '-3', 'count': 22751},
    {'value': '-2', 'count': 3084}]},
  'usa_r34_ne': {'dtype': 'object',
   'non_null_count': 73249,
   'null_count': 648791,
   'null_percentage': 89.85527117611213,
   'n_unique': 256},
  'usa_r34_se': {'dtype': 'object',
   'non_null_count': 73232,
   'null_count': 648808,
   'null_percentage': 89.85762561630935,
   'n_unique': 246},
  'usa_r34_sw': {'dtype': 'object',
   'non_null_count': 73190,
   'null_count': 648850,
   'null_percentage': 89.86344246856129,
   'n_unique': 240},
  'usa_r34_nw': {'dtype': 'object',
   'non_null_count': 73226,
   'null_count': 648814,
   'null_percentage': 89.85845659520248,
   'n_unique': 239},
  'usa_r50_ne': {'dtype': 'object',
   'non_null_count': 37733,
   'null_count': 684307,
   'null_percentage': 94.77411223754916,
   'n_unique': 207},
  'usa_r50_se': {'dtype': 'object',
   'non_null_count': 37695,
   'null_count': 684345,
   'null_percentage': 94.77937510387237,
   'n_unique': 199},
  'usa_r50_sw': {'dtype': 'object',
   'non_null_count': 37593,
   'null_count': 684447,
   'null_percentage': 94.79350174505568,
   'n_unique': 189},
  'usa_r50_nw': {'dtype': 'object',
   'non_null_count': 37677,
   'null_count': 684363,
   'null_percentage': 94.78186804055177,
   'n_unique': 216},
  'usa_r64_ne': {'dtype': 'object',
   'non_null_count': 23402,
   'null_count': 698638,
   'null_percentage': 96.75890532380478,
   'n_unique': 117},
  'usa_r64_se': {'dtype': 'object',
   'non_null_count': 23363,
   'null_count': 698677,
   'null_percentage': 96.76430668661015,
   'n_unique': 118},
  'usa_r64_sw': {'dtype': 'object',
   'non_null_count': 23313,
   'null_count': 698727,
   'null_percentage': 96.77123151071963,
   'n_unique': 104},
  'usa_r64_nw': {'dtype': 'object',
   'non_null_count': 23365,
   'null_count': 698675,
   'null_percentage': 96.76402969364578,
   'n_unique': 122},
  'usa_poci': {'dtype': 'object',
   'non_null_count': 111366,
   'null_count': 610674,
   'null_percentage': 84.57620076450058,
   'n_unique': 66},
  'usa_roci': {'dtype': 'object',
   'non_null_count': 110935,
   'null_count': 611105,
   'null_percentage': 84.6358927483242,
   'n_unique': 321},
  'usa_rmw': {'dtype': 'object',
   'non_null_count': 111011,
   'null_count': 611029,
   'null_percentage': 84.6253670156778,
   'n_unique': 142},
  'usa_eye': {'dtype': 'object',
   'non_null_count': 4055,
   'null_count': 717985,
   'null_percentage': 99.43839676472219,
   'n_unique': 19,
   'unique_values': [{'value': '30', 'count': 339},
    {'value': '5', 'count': 234},
    {'value': '10', 'count': 1066},
    {'value': '15', 'count': 884},
    {'value': '20', 'count': 742},
    {'value': '40', 'count': 120},
    {'value': '25', 'count': 386},
    {'value': '45', 'count': 73},
    {'value': '60', 'count': 18},
    {'value': '35', 'count': 118},
    {'value': '50', 'count': 36},
    {'value': '80', 'count': 7},
    {'value': '65', 'count': 3},
    {'value': '55', 'count': 18},
    {'value': '75', 'count': 2},
    {'value': '70', 'count': 5},
    {'value': '100', 'count': 1},
    {'value': '85', 'count': 1},
    {'value': '90', 'count': 2}]},
  'tokyo_lat': {'dtype': 'object',
   'non_null_count': 133285,
   'null_count': 588755,
   'null_percentage': 81.54049637139217,
   'n_unique': 613},
  'tokyo_lon': {'dtype': 'object',
   'non_null_count': 133285,
   'null_count': 588755,
   'null_percentage': 81.54049637139217,
   'n_unique': 911},
  'tokyo_grade': {'dtype': 'object',
   'non_null_count': 133285,
   'null_count': 588755,
   'null_percentage': 81.54049637139217,
   'n_unique': 7,
   'unique_values': [{'value': '2', 'count': 37867},
    {'value': '9', 'count': 28600},
    {'value': '6', 'count': 15509},
    {'value': '7', 'count': 65},
    {'value': '4', 'count': 12788},
    {'value': '3', 'count': 18635},
    {'value': '5', 'count': 19821}]},
  'tokyo_wind': {'dtype': 'object',
   'non_null_count': 50186,
   'null_count': 671854,
   'null_percentage': 93.04941554484516,
   'n_unique': 62},
  'tokyo_pres': {'dtype': 'object',
   'non_null_count': 133227,
   'null_count': 588813,
   'null_percentage': 81.54852916735915,
   'n_unique': 139},
  'tokyo_r50_dir': {'dtype': 'object',
   'non_null_count': 133768,
   'null_count': 588272,
   'null_percentage': 81.4736025704947,
   'n_unique': 10,
   'unique_values': [{'value': '0', 'count': 106146},
    {'value': '9', 'count': 22407},
    {'value': '1', 'count': 834},
    {'value': '3', 'count': 1573},
    {'value': '2', 'count': 1532},
    {'value': '8', 'count': 743},
    {'value': '6', 'count': 30},
    {'value': '7', 'count': 212},
    {'value': '4', 'count': 241},
    {'value': '5', 'count': 50}]},
  'tokyo_r50_long': {'dtype': 'object',
   'non_null_count': 26874,
   'null_count': 695166,
   'null_percentage': 96.27804553764334,
   'n_unique': 94},
  'tokyo_r50_short': {'dtype': 'object',
   'non_null_count': 26858,
   'null_count': 695182,
   'null_percentage': 96.28026148135838,
   'n_unique': 78},
  'tokyo_r30_dir': {'dtype': 'object',
   'non_null_count': 133768,
   'null_count': 588272,
   'null_percentage': 81.4736025704947,
   'n_unique': 10,
   'unique_values': [{'value': '0', 'count': 82480},
    {'value': '9', 'count': 25046},
    {'value': '1', 'count': 4987},
    {'value': '4', 'count': 2056},
    {'value': '2', 'count': 5974},
    {'value': '3', 'count': 5933},
    {'value': '6', 'count': 276},
    {'value': '8', 'count': 4702},
    {'value': '7', 'count': 1848},
    {'value': '5', 'count': 466}]},
  'tokyo_r30_long': {'dtype': 'object',
   'non_null_count': 50186,
   'null_count': 671854,
   'null_percentage': 93.04941554484516,
   'n_unique': 154},
  'tokyo_r30_short': {'dtype': 'object',
   'non_null_count': 50176,
   'null_count': 671864,
   'null_percentage': 93.05080050966706,
   'n_unique': 129},
  'tokyo_land': {'dtype': 'object',
   'non_null_count': 70192,
   'null_count': 651848,
   'null_percentage': 90.27865492216498,
   'n_unique': 2,
   'unique_values': [{'value': '0', 'count': 69943},
    {'value': '1', 'count': 249}]},
  'cma_lat': {'dtype': 'object',
   'non_null_count': 143240,
   'null_count': 578800,
   'null_percentage': 80.16176389119717,
   'n_unique': 622},
  'cma_lon': {'dtype': 'object',
   'non_null_count': 143240,
   'null_count': 578800,
   'null_percentage': 80.16176389119717,
   'n_unique': 1300},
  'cma_cat': {'dtype': 'object',
   'non_null_count': 143240,
   'null_count': 578800,
   'null_percentage': 80.16176389119717,
   'n_unique': 8,
   'unique_values': [{'value': '0', 'count': 16211},
    {'value': '1', 'count': 35080},
    {'value': '2', 'count': 22532},
    {'value': '3', 'count': 23102},
    {'value': '4', 'count': 19139},
    {'value': '5', 'count': 10147},
    {'value': '6', 'count': 8150},
    {'value': '9', 'count': 8879}]},
  'cma_wind': {'dtype': 'object',
   'non_null_count': 131326,
   'null_count': 590714,
   'null_percentage': 81.81181098000111,
   'n_unique': 137},
  'cma_pres': {'dtype': 'object',
   'non_null_count': 143110,
   'null_count': 578930,
   'null_percentage': 80.17976843388178,
   'n_unique': 149},
  'hko_lat': {'dtype': 'object',
   'non_null_count': 84741,
   'null_count': 637299,
   'null_percentage': 88.26366960279209,
   'n_unique': 446},
  'hko_lon': {'dtype': 'object',
   'non_null_count': 84741,
   'null_count': 637299,
   'null_percentage': 88.26366960279209,
   'n_unique': 935},
  'hko_cat': {'dtype': 'object',
   'non_null_count': 84741,
   'null_count': 637299,
   'null_percentage': 88.26366960279209,
   'n_unique': 7,
   'unique_values': [{'value': 'TD', 'count': 19478},
    {'value': 'TS', 'count': 21643},
    {'value': 'STS', 'count': 15430},
    {'value': 'T', 'count': 15816},
    {'value': 'ST', 'count': 6884},
    {'value': 'SuperT', 'count': 5305},
    {'value': 'LW', 'count': 185}]},
  'hko_wind': {'dtype': 'object',
   'non_null_count': 84650,
   'null_count': 637390,
   'null_percentage': 88.27627278267131,
   'n_unique': 102},
  'hko_pres': {'dtype': 'object',
   'non_null_count': 84650,
   'null_count': 637390,
   'null_percentage': 88.27627278267131,
   'n_unique': 126},
  'kma_lat': {'dtype': 'object',
   'non_null_count': 11812,
   'null_count': 710228,
   'null_percentage': 98.36407955237937,
   'n_unique': 417},
  'kma_lon': {'dtype': 'object',
   'non_null_count': 11812,
   'null_count': 710228,
   'null_percentage': 98.36407955237937,
   'n_unique': 735},
  'kma_cat': {'dtype': 'object',
   'non_null_count': 11812,
   'null_count': 710228,
   'null_percentage': 98.36407955237937,
   'n_unique': 5,
   'unique_values': [{'value': 'TD', 'count': 2053},
    {'value': 'TS', 'count': 4215},
    {'value': 'STS', 'count': 1964},
    {'value': 'TY', 'count': 3495},
    {'value': 'L', 'count': 85}]},
  'kma_wind': {'dtype': 'object',
   'non_null_count': 11755,
   'null_count': 710285,
   'null_percentage': 98.37197385186415,
   'n_unique': 97},
  'kma_pres': {'dtype': 'object',
   'non_null_count': 11812,
   'null_count': 710228,
   'null_percentage': 98.36407955237937,
   'n_unique': 82},
  'kma_r50_dir': {'dtype': 'object',
   'non_null_count': 5500,
   'null_count': 716540,
   'null_percentage': 99.23826934795856,
   'n_unique': 18,
   'unique_values': [{'value': '180.000', 'count': 311},
    {'value': '225.000', 'count': 2481},
    {'value': '202.000', 'count': 441},
    {'value': '247.000', 'count': 347},
    {'value': '270.000', 'count': 366},
    {'value': '157.000', 'count': 121},
    {'value': '315.000', 'count': 745},
    {'value': '292.000', 'count': 320},
    {'value': '135.000', 'count': 101},
    {'value': '337.000', 'count': 110},
    {'value': '90.0000', 'count': 19},
    {'value': '112.000', 'count': 6},
    {'value': '45.0000', 'count': 76},
    {'value': '22.0000', 'count': 8},
    {'value': '205.000', 'count': 2},
    {'value': '67.0000', 'count': 41},
    {'value': '295.000', 'count': 4},
    {'value': '150.000', 'count': 1}]},
  'kma_r50_long': {'dtype': 'object',
   'non_null_count': 5276,
   'null_count': 716764,
   'null_percentage': 99.26929255996897,
   'n_unique': 73},
  'kma_r50_short': {'dtype': 'object',
   'non_null_count': 5166,
   'null_count': 716874,
   'null_percentage': 99.2845271730098,
   'n_unique': 58},
  'kma_r30_dir': {'dtype': 'object',
   'non_null_count': 9625,
   'null_count': 712415,
   'null_percentage': 98.66697135892748,
   'n_unique': 17,
   'unique_values': [{'value': '180.000', 'count': 656},
    {'value': '202.000', 'count': 681},
    {'value': '225.000', 'count': 4207},
    {'value': '247.000', 'count': 578},
    {'value': '157.000', 'count': 184},
    {'value': '270.000', 'count': 623},
    {'value': '315.000', 'count': 1390},
    {'value': '135.000', 'count': 256},
    {'value': '292.000', 'count': 501},
    {'value': '337.000', 'count': 211},
    {'value': '90.0000', 'count': 58},
    {'value': '67.0000', 'count': 58},
    {'value': '112.000', 'count': 33},
    {'value': '45.0000', 'count': 156},
    {'value': '22.0000', 'count': 27},
    {'value': '160.000', 'count': 2},
    {'value': '295.000', 'count': 4}]},
  'kma_r30_long': {'dtype': 'object',
   'non_null_count': 9430,
   'null_count': 712610,
   'null_percentage': 98.69397817295442,
   'n_unique': 184},
  'kma_r30_short': {'dtype': 'object',
   'non_null_count': 9342,
   'null_count': 712698,
   'null_percentage': 98.70616586338707,
   'n_unique': 174},
  'newdelhi_lat': {'dtype': 'object',
   'non_null_count': 10396,
   'null_count': 711644,
   'null_percentage': 98.5601905711595,
   'n_unique': 261},
  'newdelhi_lon': {'dtype': 'object',
   'non_null_count': 10396,
   'null_count': 711644,
   'null_percentage': 98.5601905711595,
   'n_unique': 542},
  'newdelhi_grade': {'dtype': 'object',
   'non_null_count': 9195,
   'null_count': 712845,
   'null_percentage': 98.7265248462689,
   'n_unique': 10,
   'unique_values': [{'value': 'D', 'count': 3775},

In [11]:
# Quick view of key columns for Kalman filter
print("=" * 80)
print("KEY COLUMNS FOR KALMAN FILTER ANALYSIS")
print("=" * 80)
print("\nPosition columns:")
for col in dataset_summary['position_columns'][:15]:
    info = dataset_summary['columns'][col]
    print(f"  {col:25s} - Coverage: {info['non_null_count']:8,} ({100-info['null_percentage']:5.1f}%)")

print("\nVelocity/Motion columns:")
for col in dataset_summary['velocity_columns']:
    info = dataset_summary['columns'][col]
    print(f"  {col:25s} - Coverage: {info['non_null_count']:8,} ({100-info['null_percentage']:5.1f}%)")
    if 'numeric_stats' in info:
        stats = info['numeric_stats']
        print(f"    Range: [{stats['min']:.1f}, {stats['max']:.1f}], Mean: {stats['mean']:.1f}")

print("\nWind speed columns (first 10):")
for col in dataset_summary['wind_columns'][:10]:
    info = dataset_summary['columns'][col]
    print(f"  {col:25s} - Coverage: {info['non_null_count']:8,} ({100-info['null_percentage']:5.1f}%)")
    if 'numeric_stats' in info:
        stats = info['numeric_stats']
        print(f"    Range: [{stats['min']:.0f}, {stats['max']:.0f}] knots, Mean: {stats['mean']:.1f}")

================================================================================
KEY COLUMNS FOR KALMAN FILTER ANALYSIS
================================================================================

Position columns:
  lat                       - Coverage:  722,040 (100.0%)
  lon                       - Coverage:  722,040 (100.0%)
  usa_lat                   - Coverage:  462,831 ( 64.1%)
  usa_lon                   - Coverage:  462,831 ( 64.1%)
  tokyo_lat                 - Coverage:  133,285 ( 18.5%)
  tokyo_lon                 - Coverage:  133,285 ( 18.5%)
  tokyo_r50_long            - Coverage:   26,874 (  3.7%)
  tokyo_r30_long            - Coverage:   50,186 (  7.0%)
  cma_lat                   - Coverage:  143,240 ( 19.8%)
  cma_lon                   - Coverage:  143,240 ( 19.8%)
  hko_lat                   - Coverage:   84,741 ( 11.7%)
  hko_lon                   - Coverage:   84,741 ( 11.7%)
  kma_lat                   - Coverage:   11,812 (  1.6%)
  kma_lon                   - Coverage:   11,812 (  1.6%)
  kma_r50_long              - Coverage:    5,276 (  0.7%)

Velocity/Motion columns:
  tokyo_r50_dir             - Coverage:  133,768 ( 18.5%)
  tokyo_r30_dir             - Coverage:  133,768 ( 18.5%)
  kma_r50_dir               - Coverage:    5,500 (  0.8%)
  kma_r30_dir               - Coverage:    9,625 (  1.3%)
  storm_speed               - Coverage:  721,960 (100.0%)
    Range: [0.0, 148.0], Mean: 9.9
  storm_dir                 - Coverage:  721,960 (100.0%)
    Range: [0.0, 360.0], Mean: 209.6

Wind speed columns (first 10):
  wmo_wind                  - Coverage:  165,751 ( 23.0%)
  usa_wind                  - Coverage:  399,785 ( 55.4%)
    Range: [5, 185] knots, Mean: 50.2
  tokyo_wind                - Coverage:   50,186 (  7.0%)
  cma_wind                  - Coverage:  131,326 ( 18.2%)
  hko_wind                  - Coverage:   84,650 ( 11.7%)
  kma_wind                  - Coverage:   11,755 (  1.6%)
  newdelhi_wind             - Coverage:    9,093 (  1.3%)
  reunion_wind              - Coverage:   29,953 (  4.1%)
  bom_wind                  - Coverage:   40,766 (  5.6%)
  nadi_wind                 - Coverage:    7,695 (  1.1%)

In [12]:
# ============================================================================
# ADVANCED EDA: TEMPORAL STRUCTURE ANALYSIS
# ============================================================================
# Understanding the 6-hour interval structure and data regularity

print("=" * 80)
print("TEMPORAL STRUCTURE ANALYSIS")
print("=" * 80)

# Check time intervals for storms
print("\n1. TIME INTERVALS BETWEEN OBSERVATIONS")
print("-" * 80)
sample_storms = hurricane_paths['sid'].unique()[:10]
interval_counts = {}

for sid in sample_storms:
    storm = hurricane_paths[hurricane_paths['sid'] == sid].sort_values('iso_time')
    if len(storm) > 1:
        time_diffs = storm['iso_time'].diff().dropna()
        hours = [td.total_seconds() / 3600 for td in time_diffs]
        unique_hours = sorted(set(hours))
        interval_counts[sid] = unique_hours
        print(f"\nStorm {sid[:20]:20s} ({len(storm):3d} obs): Intervals = {[f'{h:.1f}h' for h in unique_hours[:5]]}")

# Overall interval distribution
print("\n\n2. OVERALL TIME INTERVAL DISTRIBUTION")
print("-" * 80)
all_intervals = []
for sid in hurricane_paths['sid'].unique()[:100]:  # Sample for speed
    storm = hurricane_paths[hurricane_paths['sid'] == sid].sort_values('iso_time')
    if len(storm) > 1:
        time_diffs = storm['iso_time'].diff().dropna()
        hours = [td.total_seconds() / 3600 for td in time_diffs]
        all_intervals.extend(hours)

if all_intervals:
    interval_series = pd.Series(all_intervals)
    print(f"Most common intervals (hours):")
    print(interval_series.value_counts().head(10))

print("\n\n3. OBSERVATIONS PER STORM STATISTICS")
print("-" * 80)
obs_per_storm = hurricane_paths.groupby('sid').size()
print(obs_per_storm.describe())
print(f"\nMin observations: {obs_per_storm.min()}, Max: {obs_per_storm.max()}")
print(f"Storms with < 5 observations: {(obs_per_storm < 5).sum()}")
print(f"Storms with >= 10 observations: {(obs_per_storm >= 10).sum()}")

================================================================================
TEMPORAL STRUCTURE ANALYSIS
================================================================================

1. TIME INTERVALS BETWEEN OBSERVATIONS
--------------------------------------------------------------------------------

Storm 1842298N11080        ( 65 obs): Intervals = ['3.0h']

Storm 1845336N10074        ( 25 obs): Intervals = ['3.0h']

Storm 1848011S09079        ( 49 obs): Intervals = ['3.0h']

Storm 1848011S09080        ( 89 obs): Intervals = ['3.0h']

Storm 1848011S15057        ( 41 obs): Intervals = ['3.0h']

Storm 1848011S16057        ( 17 obs): Intervals = ['3.0h']

Storm 1848061S12075        ( 53 obs): Intervals = ['3.0h']

Storm 1848112S07084        ( 41 obs): Intervals = ['3.0h']

Storm 1848112S07444        ( 29 obs): Intervals = ['3.0h']

Storm 1851080S15062        ( 45 obs): Intervals = ['3.0h']


2. OVERALL TIME INTERVAL DISTRIBUTION
--------------------------------------------------------------------------------
Most common intervals (hours):
3.0    4486
2.0       2
1.0       2
Name: count, dtype: int64


3. OBSERVATIONS PER STORM STATISTICS
--------------------------------------------------------------------------------
count    13530.000000
mean        53.365854
std         34.105523
min          1.000000
25%         27.000000
50%         46.000000
75%         73.000000
max        350.000000
dtype: float64

Min observations: 1, Max: 350
Storms with < 5 observations: 110
Storms with >= 10 observations: 13053

In [13]:
# ============================================================================
# ADVANCED EDA: SAMPLE STORM TRACK ANALYSIS
# ============================================================================
# Deep dive into a single storm to understand the data structure

print("=" * 80)
print("SAMPLE STORM TRACK: Detailed Analysis")
print("=" * 80)

# Find a well-documented storm (preferably a named one with many observations)
well_documented = hurricane_paths[
    (hurricane_paths['name'].notna()) & 
    (hurricane_paths['storm_speed'].notna()) &
    (hurricane_paths['storm_dir'].notna())
].groupby('sid').size().sort_values(ascending=False)

if len(well_documented) > 0:
    sample_sid = well_documented.index[0]
    sample_storm = hurricane_paths[hurricane_paths['sid'] == sample_sid].sort_values('iso_time').copy()
    
    print(f"\nSelected Storm:")
    print(f"  SID: {sample_sid}")
    print(f"  Name: {sample_storm['name'].iloc[0]}")
    print(f"  Season: {sample_storm['season'].iloc[0]}")
    print(f"  Basin: {sample_storm['basin'].iloc[0] if sample_storm['basin'].notna().any() else 'N/A'}")
    print(f"  Total observations: {len(sample_storm)}")
    print(f"  Date range: {sample_storm['iso_time'].min()} to {sample_storm['iso_time'].max()}")
    print(f"  Duration: {(sample_storm['iso_time'].max() - sample_storm['iso_time'].min()).total_seconds() / 3600 / 24:.1f} days")
    
    print(f"\n\nSample Storm Data (first 10 observations):")
    print("-" * 80)
    key_cols = ['iso_time', 'lat', 'lon', 'storm_speed', 'storm_dir', 'usa_wind', 'usa_pres', 'nature']
    display_cols = [c for c in key_cols if c in sample_storm.columns]
    print(sample_storm[display_cols].head(10).to_string())
    
    print(f"\n\nKey Statistics:")
    print("-" * 80)
    print(f"Latitude range: [{sample_storm['lat'].min():.2f}, {sample_storm['lat'].max():.2f}]")
    print(f"Longitude range: [{sample_storm['lon'].min():.2f}, {sample_storm['lon'].max():.2f}]")
    print(f"Speed range: [{sample_storm['storm_speed'].min():.1f}, {sample_storm['storm_speed'].max():.1f}] knots")
    print(f"Direction range: [{sample_storm['storm_dir'].min():.1f}, {sample_storm['storm_dir'].max():.1f}] degrees")
    
    if sample_storm['usa_wind'].notna().any():
        print(f"Wind speed range: [{sample_storm['usa_wind'].min():.0f}, {sample_storm['usa_wind'].max():.0f}] knots")
    
    # Store for later use
    sample_storm_track = sample_storm
else:
    print("No well-documented storms found")

================================================================================
SAMPLE STORM TRACK: Detailed Analysis
================================================================================

Selected Storm:
  SID: 1997013S08101
  Name: HELINDA:PANCHO
  Season: 1997
  Basin: SI
  Total observations: 350
  Date range: 1997-01-13 06:00:00 to 1997-02-14 12:00:00
  Duration: 32.2 days


Sample Storm Data (first 10 observations):
--------------------------------------------------------------------------------
                  iso_time  lat    lon  storm_speed  storm_dir  usa_wind usa_pres nature
540180 1997-01-13 06:00:00 -8.3  100.5            3        240        15      NaN     TS
540181 1997-01-13 09:00:00 -8.4  100.4            4        235        15      NaN     TS
540182 1997-01-13 12:00:00 -8.5  100.2            4        230        15      NaN     TS
540183 1997-01-13 15:00:00 -8.6  100.0            4        225        15      NaN     TS
540184 1997-01-13 18:00:00 -8.8   99.9            4        220        15      NaN     TS
540185 1997-01-13 21:00:00 -8.9   99.8            4        215        15      NaN     TS
540186 1997-01-14 00:00:00 -9.1   99.7            3        210        15      NaN     TS
540187 1997-01-14 03:00:00 -9.2   99.6            4        215        15      NaN     TS
540188 1997-01-14 06:00:00 -9.4   99.5            4        215        15      NaN     TS
540189 1997-01-14 09:00:00 -9.6   99.4            5        215        15      NaN     TS


Key Statistics:
--------------------------------------------------------------------------------
Latitude range: [-20.70, -8.30]
Longitude range: [53.90, 100.50]
Speed range: [0.0, 15.0] knots
Direction range: [0.0, 345.0] degrees
Wind speed range: [15, 125] knots

In [14]:
# ============================================================================
# ADVANCED EDA: DATA QUALITY ANALYSIS
# ============================================================================
# Check for data quality issues that could affect Kalman filter

print("=" * 80)
print("DATA QUALITY ANALYSIS")
print("=" * 80)

# 1. Missing velocity data per storm
print("\n1. MISSING VELOCITY DATA BY STORM")
print("-" * 80)
velocity_missing_by_storm = hurricane_paths.groupby('sid').apply(
    lambda x: pd.Series({
        'total_obs': len(x),
        'missing_speed': x['storm_speed'].isnull().sum(),
        'missing_dir': x['storm_dir'].isnull().sum(),
        'missing_both': ((x['storm_speed'].isnull()) | (x['storm_dir'].isnull())).sum(),
        'pct_missing': ((x['storm_speed'].isnull()) | (x['storm_dir'].isnull())).sum() / len(x) * 100
    })
)

print(f"Storms with missing velocity data: {(velocity_missing_by_storm['missing_both'] > 0).sum()}")
print(f"Storms with >10% missing velocity: {(velocity_missing_by_storm['pct_missing'] > 10).sum()}")
print(f"\nMissing velocity statistics:")
print(velocity_missing_by_storm[velocity_missing_by_storm['missing_both'] > 0][['total_obs', 'missing_both', 'pct_missing']].describe())

# 2. Position data quality (check for outliers)
print("\n\n2. POSITION DATA QUALITY")
print("-" * 80)
print(f"Latitude range: [{hurricane_paths['lat'].min():.2f}, {hurricane_paths['lat'].max():.2f}]")
print(f"Longitude range: [{hurricane_paths['lon'].min():.2f}, {hurricane_paths['lon'].max():.2f}]")
print(f"Observations outside reasonable bounds (lat > 90 or < -90): {(hurricane_paths['lat'].abs() > 90).sum()}")
print(f"Observations with lon > 180 or < -180: {((hurricane_paths['lon'] > 180) | (hurricane_paths['lon'] < -180)).sum()}")

# 3. Velocity data quality
print("\n\n3. VELOCITY DATA QUALITY")
print("-" * 80)
print(f"Speed range: [{hurricane_paths['storm_speed'].min():.1f}, {hurricane_paths['storm_speed'].max():.1f}] knots")
print(f"Direction range: [{hurricane_paths['storm_dir'].min():.1f}, {hurricane_paths['storm_dir'].max():.1f}] degrees")
print(f"Unusual speeds (>100 knots): {(hurricane_paths['storm_speed'] > 100).sum()}")
print(f"Invalid directions (>= 360 or < 0): {((hurricane_paths['storm_dir'] >= 360) | (hurricane_paths['storm_dir'] < 0)).sum()}")

# 4. Check for sudden jumps in position (might indicate data errors)
print("\n\n4. SUDDEN POSITION JUMPS (Potential Data Errors)")
print("-" * 80)
# Calculate position changes between consecutive observations
sample_sids = hurricane_paths['sid'].unique()[:100]  # Sample for speed
large_jumps = []

for sid in sample_sids:
    storm = hurricane_paths[hurricane_paths['sid'] == sid].sort_values('iso_time')
    if len(storm) > 1:
        # Calculate distance between consecutive points (rough approximation in degrees)
        lat_diff = storm['lat'].diff().abs()
        lon_diff = storm['lon'].diff().abs()
        # Large jump = > 5 degrees in lat or lon (roughly > 500 km)
        jumps = (lat_diff > 5) | (lon_diff > 5)
        if jumps.any():
            large_jumps.append(sid)

print(f"Storms with potential large position jumps (>5 degrees): {len(large_jumps)} in sample")

================================================================================
DATA QUALITY ANALYSIS
================================================================================

1. MISSING VELOCITY DATA BY STORM
--------------------------------------------------------------------------------

C:\Users\sardo\AppData\Local\Temp\ipykernel_18936\1407322396.py:13: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  velocity_missing_by_storm = hurricane_paths.groupby('sid').apply(

Storms with missing velocity data: 80
Storms with >10% missing velocity: 80

Missing velocity statistics:
       total_obs  missing_both  pct_missing
count       80.0          80.0         80.0
mean         1.0           1.0        100.0
std          0.0           0.0          0.0
min          1.0           1.0        100.0
25%          1.0           1.0        100.0
50%          1.0           1.0        100.0
75%          1.0           1.0        100.0
max          1.0           1.0        100.0


2. POSITION DATA QUALITY
--------------------------------------------------------------------------------
Latitude range: [-68.50, 83.00]
Longitude range: [-179.80, 266.90]
Observations outside reasonable bounds (lat > 90 or < -90): 0
Observations with lon > 180 or < -180: 10429


3. VELOCITY DATA QUALITY
--------------------------------------------------------------------------------
Speed range: [0.0, 148.0] knots
Direction range: [0.0, 360.0] degrees
Unusual speeds (>100 knots): 10
Invalid directions (>= 360 or < 0): 1749


4. SUDDEN POSITION JUMPS (Potential Data Errors)
--------------------------------------------------------------------------------
Storms with potential large position jumps (>5 degrees): 0 in sample

In [16]:
# ============================================================================
# PRELIMINARY ANALYSIS FOR FEATURE ENGINEERING
# ============================================================================

print("=" * 80)
print("PRE-FEATURE ENGINEERING ASSESSMENT")
print("=" * 80)

# 1. Storm length distribution analysis
print("\n1. STORM LENGTH DISTRIBUTION")
print("-" * 80)
obs_per_storm = hurricane_paths.groupby('sid').size()
print(f"Total storms: {len(obs_per_storm)}")
print(f"Storms with >= 2 observations: {(obs_per_storm >= 2).sum()} (minimum required for velocity computation)")
print(f"Storms with >= 5 observations: {(obs_per_storm >= 5).sum()} (adequate for Kalman filter application)")
print(f"Storms with >= 10 observations: {(obs_per_storm >= 10).sum()} (sufficient for robust forecasting)")

# 2. Velocity computation validation
print("\n\n2. VELOCITY COMPUTATION VALIDATION")
print("-" * 80)
# Test velocity computation on a sample storm
test_sid = hurricane_paths[hurricane_paths.groupby('sid')['sid'].transform('count') >= 5]['sid'].iloc[0]
test_storm = hurricane_paths[hurricane_paths['sid'] == test_sid].sort_values('iso_time')
if len(test_storm) > 1:
    # Compute velocity from positions
    dt = (test_storm['iso_time'].iloc[1] - test_storm['iso_time'].iloc[0]).total_seconds() / 3600  # hours
    dlat = test_storm['lat'].iloc[1] - test_storm['lat'].iloc[0]
    dlon = test_storm['lon'].iloc[1] - test_storm['lon'].iloc[0]
    computed_speed = np.sqrt(dlat**2 + dlon**2) * 111 / dt  # approximate km/h (1 degree ≈ 111 km)
    computed_dir = np.degrees(np.arctan2(dlon, dlat)) % 360
    
    actual_speed = test_storm['storm_speed'].iloc[1]
    actual_dir = test_storm['storm_dir'].iloc[1]
    
    print(f"Test storm: {test_sid}")
    print(f"Time interval: {dt:.1f} hours")
    print(f"Computed velocity from positions: speed={computed_speed:.1f} km/h, direction={computed_dir:.1f} degrees")
    print(f"Recorded velocity values: speed={actual_speed:.0f} knots, direction={actual_dir:.0f} degrees")
    print("Conclusion: Velocity can be derived from position differences when needed.")

# 3. Basin distribution analysis
print("\n\n3. BASIN DISTRIBUTION")
print("-" * 80)
basin_counts = hurricane_paths['basin'].value_counts()
print(basin_counts)
print("\nNote: Consider filtering to specific basin for focused analysis.")
print("Common basin codes include regional identifiers (e.g., North Atlantic, Western Pacific).")

# 4. Temporal coverage analysis
print("\n\n4. TEMPORAL COVERAGE BY DECADE")
print("-" * 80)
hurricane_paths['decade'] = (hurricane_paths['season'] // 10) * 10
decade_counts = hurricane_paths.groupby('decade').agg({
    'sid': 'nunique',
    'storm_speed': lambda x: x.notna().sum()
}).rename(columns={'sid': 'num_storms', 'storm_speed': 'obs_with_velocity'})
print("Storm counts and velocity observations by decade:")
print(decade_counts.tail(10))  # Last 10 decades

# 5. Units and coordinate systems specification
print("\n\n5. DATA UNITS AND COORDINATE SYSTEM SPECIFICATION")
print("-" * 80)
print("Position units: Degrees (latitude: -90 to 90, longitude: -180 to 180)")
print("Velocity units: storm_speed in knots, storm_dir in degrees (0-360)")
print("Time units: 6-hour observation intervals (iso_time)")
print("Wind speed units: Knots (from multiple data sources)")
print("\nUnit standardization considerations for Kalman filter implementation:")
print("  - Position: Maintain degrees or convert to metric units (kilometers)")
print("  - Velocity: Convert from knots to consistent metric units (km/h or m/s)")
print("  - Time: Standardize to hours (6-hour intervals)")

print("\n\nCONCLUSION: READY FOR FEATURE ENGINEERING")
print("-" * 80)
print("Assessment complete. Dataset characteristics understood:")
print("  - Data structure and quality validated")
print("  - Temporal patterns confirmed (6-hour intervals)")
print("  - Velocity computation methodology verified")
print("  - Missing data patterns identified (single-observation storms)")
print("  - Units and coordinate systems documented")

================================================================================
PRE-FEATURE ENGINEERING ASSESSMENT
================================================================================

1. STORM LENGTH DISTRIBUTION
--------------------------------------------------------------------------------
Total storms: 13530
Storms with >= 2 observations: 13450 (minimum required for velocity computation)
Storms with >= 5 observations: 13420 (adequate for Kalman filter application)
Storms with >= 10 observations: 13053 (sufficient for robust forecasting)


2. VELOCITY COMPUTATION VALIDATION
--------------------------------------------------------------------------------
Test storm: 1842298N11080
Time interval: 3.0 hours
Computed velocity from positions: speed=18.5 km/h, direction=270.0 degrees
Recorded velocity values: speed=9 knots, direction=265 degrees
Conclusion: Velocity can be derived from position differences when needed.


3. BASIN DISTRIBUTION
--------------------------------------------------------------------------------
basin
WP    241388
SI    162487
SP     68076
EP     65391
NI     57532
SA       119
Name: count, dtype: int64

Note: Consider filtering to specific basin for focused analysis.
Common basin codes include regional identifiers (e.g., North Atlantic, Western Pacific).


4. TEMPORAL COVERAGE BY DECADE
--------------------------------------------------------------------------------
Storm counts and velocity observations by decade:
        num_storms  obs_with_velocity
decade
1930           742              33293
1940           855              36768
1950          1006              50658
1960          1222              67259
1970          1255              72884
1980          1128              67316
1990          1096              75549
2000          1031              62639
2010          1011              62528
2020           637              36390


5. DATA UNITS AND COORDINATE SYSTEM SPECIFICATION
--------------------------------------------------------------------------------
Position units: Degrees (latitude: -90 to 90, longitude: -180 to 180)
Velocity units: storm_speed in knots, storm_dir in degrees (0-360)
Time units: 6-hour observation intervals (iso_time)
Wind speed units: Knots (from multiple data sources)

Unit standardization considerations for Kalman filter implementation:
  - Position: Maintain degrees or convert to metric units (kilometers)
  - Velocity: Convert from knots to consistent metric units (km/h or m/s)
  - Time: Standardize to hours (6-hour intervals)


CONCLUSION: READY FOR FEATURE ENGINEERING
--------------------------------------------------------------------------------
Assessment complete. Dataset characteristics understood:
  - Data structure and quality validated
  - Temporal patterns confirmed (6-hour intervals)
  - Velocity computation methodology verified
  - Missing data patterns identified (single-observation storms)
  - Units and coordinate systems documented

In [15]:
# ============================================================================
# BASIN-SPECIFIC ANALYSIS FOR DATA FILTERING
# ============================================================================
# Analyze basin distribution to inform filtering decisions

print("=" * 80)
print("BASIN DISTRIBUTION ANALYSIS")
print("=" * 80)

if 'basin' in hurricane_paths.columns:
    print("\nBasin statistics:")
    basin_stats = hurricane_paths.groupby('basin').agg({
        'sid': 'nunique',
        'storm_speed': lambda x: x.notna().sum() / len(x) * 100
    }).rename(columns={'sid': 'num_storms', 'storm_speed': 'velocity_coverage_pct'})
    basin_stats = basin_stats.sort_values('num_storms', ascending=False)
    print(basin_stats)
    
    print("\nPotential basin codes for North Atlantic region:")
    # Check for common North Atlantic basin codes
    na_codes = ['NA', 'AL', 'AT', 'EP']  # Common basin code conventions
    for code in na_codes:
        if code in hurricane_paths['basin'].values:
            count = (hurricane_paths['basin'] == code).sum()
            storms = hurricane_paths[hurricane_paths['basin'] == code]['sid'].nunique()
            print(f"  Basin code '{code}': {count:,} observations, {storms:,} unique storms")
else:
    print("Basin column not available in dataset. Further investigation required.")

================================================================================
BASIN DISTRIBUTION ANALYSIS
================================================================================

Basin statistics:
       num_storms  velocity_coverage_pct
basin
WP           4221              99.997929
SI           2868              99.995692
NI           1843              99.926997
EP           1700              99.990824
SP           1244             100.000000
SA              3             100.000000

Potential basin codes for North Atlantic region:
  Basin code 'EP': 65,391 observations, 1,700 unique storms